@font-face {
    font-family: 'rechtmanplain';
    src: url('../police/RechtmanPlain-webfont.eot');
    src: url('../police/RechtmanPlain-webfont.eot?#iefix') format('embedded-opentype'),
    url('../police/RechtmanPlain-webfont.woff2') format('woff2'),
    url('../police/RechtmanPlain-webfont.woff') format('woff'),
    url('../police/RechtmanPlain-webfont.ttf') format('truetype'),
    url('../police/RechtmanPlain-webfont.svg#rechtmanplain') format('svg');
    font-weight: normal;
    font-style: normal;
}

header h2{
    font-family: 'rechtmanplain';
    font-size: 3em;
    text-shadow: white 1px 1px 1px;
    display: flex;
    align-items: center;
}

header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 75px;
    background-image: url(../assets/JBF-Noir.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
    border-bottom: 2px solid black;
}

header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
header li{
    margin: 5px;
}
header img{
    justify-content: center;
}
header button{
    border-radius:  10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: large;

}

footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    background-image: url(../assets/JBF-Noir.png);
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: 5%;

}

footer ul {
    display: flex;
    list-style-type: none;
}
footer li{
    padding-right: 5px;
}
#pdp img{
    width: 20%;
    height: auto;
}
#pdp{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#pdp p{
    margin: 0px 0px 2px 0px;
}
#contact h3{
    margin: 0px 0px 2px 0px;

}
footer h3{
    display: flex;
    justify-content: center;
}
footer a {
    text-decoration: none;
}

#bodymenu{
    position: absolute;
    top: 75;
    left: -15%;
    height: 100vh;
    width: 15%;
    background-color: white;
    transition: 0.5s ease-out;
    border-right: 2px solid black;

}

#openMenu{
    width: 50px;
    height: 50px;
    background-image: url(../assets/menu.png);
    background-size: cover;
    background-color: white;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
}
#headMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
}

#bodymenu li {
    text-decoration: none;
    width: 100%;
    height: 80px;
    border-top: 1px  solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1em;
    align-items: center;

}

#bodymenu ul{
    padding-left: 5px;
}

#bodymenu a{
    width: 100%;
    height: 100%;
    outline: none;
    text-decoration: none;
    color: black;
    font-size: 2.5em;
    font-family: 'rechtmanplain';
    align-items: center;
    display: flex;
    background-size: 32px 32px;
}

#bodymenu a:hover{
    width: 100%;
    height: 100%;
    outline: none;
    text-decoration: none;
    color: white;
    background-color: RGBA(120, 120, 120, 0.7);
    font-size: 2.5em;
    font-family: 'rechtmanplain';

}

#bodymenu.open {
    left: 0%;

}
#legal{
    width: 32px;
    height: 32px;
}