body{
    margin: 0;
    background-image: url(./assets/1889032.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#corps{
    width: 100vw;
    height: 100vh;
}
#container{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}
#containerPrice{
    width: 325px;
    height: 275px;
    margin: 75px;

    /*background-color: brown;*/
}
#price{
    width: 325px;
    height: 225px;

    /*background-color: darkmagenta;*/

    display: flex;
    justify-content: center;
    align-items: center;
}
#divPrice{
    width: 250px;
    height: 200px;
    background-color: hsla(0, 29%, 92%, 0.8);

    border-radius: 25px;
}
#panier{
    width: 800px;
    height: 275px;
    margin: 75px;
    background-color: hsla(0, 4%, 19%, 0.9);

    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
#imgpanier{
    width: 300px;
    height: 275px;
    /*background-color: #3a768f;*/

    display: flex;
    justify-content: center;
    align-items: center;
}
#imgint{
    width: 250px;
    height: 250px;
    border-radius: 100px;
}
#rightpanier{
    width: 500px;
    height: 275px;
    /*background-color: black;*/
}
#textpanier{
    width: 500px;
    height: 200px;
    /*background-color: lime;*/

    display: flex;
    justify-content: center;
    align-items: center;
}
#textint{
    width: 490px;
    height: 160px;
    background-color: hsla(0, 29%, 92%, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
}
#buttonpanier{
    width: 500px;
    height: 75px;
    /*background-color: orange;*/

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttonSuppression{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-right: 25px;
    text-align: center;
}
#historique{
    width: 325px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#buttonHistorique{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    text-align: center;

    background-color: orange;
}
.inputs input[type="number"]{
    width: 100px;
    height: 25px;
    border-radius: 5px;
}
.recap{
    text-align: center;
    font-size: 1.5em;
}
.totalPrice{
    text-align: center;
    font-size: 1.25em;
}
#espacePrice{
    width: 325px;
    height: 35px;
}
#payement{
    display: flex;
    justify-content: center;
    align-items: center;
}
#procedPayement{
    height: 25px;
    border-radius: 5px;
    text-align: center;

    background-color: lime;
}